%html
  %head
    %meta(http-equiv = "Content-Type" content = "text/html" charset = "UTF-8")
    %title Simple GSP page
    %meta(name="layout" content="main")
  %body
    #body.body
      %h1
        Login
      %g:if(test="${flash.message}")
        #message.message
          ${flash.message}

      %g:form(action="authenticate" method="post")
        #dialog.dialog
          %table
            %tbody
              %tr.prop
                %td.name(valign="top")
                  %label(for="login") Login:
                %td(valign="top")
                  %input(type = "text" id = "login" name = "login")
              %tr.prop
                %td.name(valign="top")
                  %label(for="password") Password:
                %td(valign="top")
                  %input(type = "password" id = "password" name = "password")
        #buttons.buttons
          %span.button
            %input(type = "submit" value = "Login")






